<% camp.comments.forEach((comment) => { %>
  <div class="row">
    <div class="col-md-12 comment">
      <div>
        <img class="avatar" src="<%= comment.author.avatar%>" alt="">
        <a href="/users/<%= comment.author.id%>">
          <strong ><%= comment.author.username %></strong>
        </a>
        <% let timeString = moment(comment.createdAt).fromNow(); %>
        <% if (/^[a-z]/.test(timeString)) { %>
          <% // First letter is lowercase and must be capitalized %>
          <% timeString = timeString.replace(/^./, timeString.charAt(0).toUpperCase()); %>
        <% } %>
        <p class="time-since pull-right">
          <%= timeString %>
        </p>
      </div>
      <div> 
        <p class="comment-text inline"><%= comment.text%></p>
        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
        <div>
          <a href="<%=camp._id%>/comments/<%=comment._id%>/edit" 
            class="btn btn-xs btn-warning">
              Edit
          </a>
          <form class="inline" 
            action="<%=camp._id%>/comments/<%=comment._id%>?_method=DELETE" 
            method="post">
              <button class="btn btn-xs btn-danger">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
<% }); %>
