<% if (camp.comments.length === 0) {%>
  <p>There aren't any comment yet!</p>
<% } %>
<div class="container">
  <% camp.comments.forEach((comment) => { %>
  <div>
    <div class="row" id="comment-meta">
      <div class="col-2">
        <img class="avatar-comment" src="<%= comment.author.avatar%>" alt="">
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <a href="/users/<%= comment.author.id%>">
              <p class="inline"><strong ><%= comment.author.username %></strong></p>
            </a>

            <% if (!comment.rating) { %>
              <em>No Rating</em>
            <% } else { %>
              <% for(let i = 0; i < comment.rating; i++) { %>
                <span class="star"></span>
              <% } %>
            <% } %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <% let timeString = moment(comment.createdAt).fromNow(); %>
            <% if (/^[a-z]/.test(timeString)) { %>
              <% // First letter is lowercase and must be capitalized %>
              <% timeString = timeString.replace(/^./, timeString.charAt(0).toUpperCase()); %>
            <% } %>
            <p class="time-since"><%= timeString %></p>
            </div>
        </div>
      </div>
    </div>
    <div class="row" id="comment-content">
      <div class="col-12">
        <p class="comment-text"><%= comment.text%></p>
      </div>
    </div>
  </div>
  <% }); %>
</div>