<% include ./partials/header %>
<h1><%= campground.name%></h1>
<img src="<%= campground.image%>" alt="campground">
<p><%= campground.desc%> </p>
<ul>
  <% campground.comments.forEach((comment) => { %>
    <li><%= comment.text%> - <%= comment.author %></li>
  <% }); %>
</ul>
<% include ./partials/footer %>