<% if (pageInfo.numPages > 1) { %>
  <div>
    <nav class="d-flex justify-content-center" aria-label="Page Navigation">
      <ul class="pagination mt-3">
        <% let firstClass = "", lastClass = "" %>
        <% if (pageInfo.currentPage === 1) { %>
          <% firstClass = "disabled" %>
        <% } else if (pageInfo.currentPage === pageInfo.numPages) { %>
          <% lastClass = "disabled" %>
        <% } %>
        <li class="page-item <%= firstClass %>">
          <a class="page-link" href="/campgrounds/1">First</a>
          </li>
        <% if (pageInfo.currentPage !== 1 ) { %>
        <li class="page-item">
          <a class="page-link" href="/campgrounds/page/<%= pageInfo.currentPage - 1 %>">
            &laquo;
          </a>
        </li>
        <% } %>
        <% const PAGE_LINKS_DISPLAYED = 3%>
        <% let startPage = pageInfo.currentPage - PAGE_LINKS_DISPLAYED %>
        <% if (startPage < 1) { %>
          <% startPage = 1 %>
        <% } else if (startPage > pageInfo.numPages) { %>
          <% startPage = pageInfo.numPages %>
        <% } %>
        <% for (let page = startPage; page <= pageInfo.currentPage + PAGE_LINKS_DISPLAYED && page <= pageInfo.numPages; page++) { %>
          <% let activeClass = "" %>
          <% if (page === pageInfo.currentPage) { %>
            <% activeClass = "disabled" %>
          <% } %>
          <li class="page-item <%= activeClass %>">
            <a class="page-link"href="/campgrounds/page/<%= page%>"><%= page%></a>
          </li>
        <% } %>
        <% if (pageInfo.currentPage !== pageInfo.numPages) { %>
        <li class="page-item">
          <a class="page-link" href="/campgrounds/page/<%= pageInfo.currentPage + 1 %>">
            &raquo;
          </a>
        </li>
        <% } %>
        <li class="page-item <%= lastClass %>">
          <a class="page-link" href="/campgrounds/page/<%= pageInfo.numPages%>">
            Last
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <% if (pageInfo.numPages > PAGE_LINKS_DISPLAYED + 1) { %>
    <form class="page-select" action="/campgrounds/page/" method="POST">
      <div class="form-group">
        <label class="text-center label-center" for="page">Select Page: </label>
        <input class="form-control" type="number" name="page" id="page">
      </div>
    </form>
  <% } %>
<% } %>

<script>
  const MOBILE_SCREEN_WIDTH = 460
  if (window.screen.width < MOBILE_SCREEN_WIDTH) {
    document.querySelector('.pagination').classList.add('pagination-sm')
  }
</script>