
<% if (pageInfo.numPages > 1) { %>
  <div>
    <nav class="d-flex justify-content-center" aria-label="Page Navigation">
      <ul class="pagination mt-3">
        <li class="page-item" id="firstPage">
          <a class="page-link" href="/campgrounds/1">First</a>
          </li>
        <% if (pageInfo.currentPage !== 1 ) { %>
        <li class="page-item">
          <a class="page-link" href="/campgrounds/page/<%= pageInfo.currentPage - 1 %>">
            &laquo;
          </a>
        </li>
        <% } %>
        <% const PAGE_LINKS_DISPLAYED = 3%>
        <% let startPage = pageInfo.currentPage - PAGE_LINKS_DISPLAYED %>
        <% if (startPage < 1) { %>
          <% startPage = 1 %>
        <% } else if (startPage > pageInfo.numPages) { %>
          <% startPage = pageInfo.numPages %>
        <% } %>
        <% for (let page = startPage; page <= pageInfo.currentPage + PAGE_LINKS_DISPLAYED && page <= pageInfo.numPages; page++) { %>
          <li class="page-item" id='page<%= page %>'>
            <a class="page-link"href="/campgrounds/page/<%= page%>"><%= page%></a>
          </li>
        <% } %>
        <% if (pageInfo.currentPage !== pageInfo.numPages) { %>
        <li class="page-item">
          <a class="page-link" href="/campgrounds/page/<%= pageInfo.currentPage + 1 %>">
            &raquo;
          </a>
        </li>
        <% } %>
        <li class="page-item" id="lastPage">
          <a class="page-link" href="/campgrounds/page/<%= pageInfo.numPages%>">
            Last
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <% if (pageInfo.numPages > PAGE_LINKS_DISPLAYED + 1) { %>
    <form class="page-select" action="/campgrounds/page/" method="POST">
      <div class="form-group">
        <label class="text-center label-center" for="page">Select Page: </label>
        <input class="form-control" type="number" name="page" id="page">
      </div>
    </form>
  <% } %>
<% } %>

<script src='/scripts/pagination.js'></script>
<script>setPaginationClasses(<%= pageInfo.currentPage %>, <%= pageInfo.numPages %>)</script>
