<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <li class="list-group-item">Info1</li>
        <li class="list-group-item">Info2</li>
        <li class="list-group-item">Info3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= camp.image%>" alt="campground">
        <div class="caption-full">
          <h4 class="pull-right"> $<%= camp.price%>/night</h4>
          <h4><a href=""><%= camp.name%></a></h4>
          <p><%= camp.desc%> </p>
          <% let timeString = moment(camp.createdAt).fromNow(); %>
          <p>Submitted by <strong><%= camp.author.username%></strong>
          <span class="time-since pull-right"><%= timeString %></span></p>

          <% if (currentUser && camp.author.id.equals(currentUser._id)) { %>
            <a href="<%= camp._id%>/edit" class="btn btn-warning">Edit</a>
            <form class="pull-right" action="?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
        <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="./<%= camp._id%>/comments/new">Create a comment</a>
        </div>
        <hr>
        <% include ../comments/index %>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>

