<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <li class="list-group-item">Average Rating</li>
        <li class="list-group-item"><div id="map"></div></li>
        <li class="list-group-item">Info3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= camp.image%>" alt="campground">
        <div class="caption-full">
          <h4 class="pull-right"> $<%= camp.price%>/night</h4>
          <h4><%= camp.name%></h4>
          <p><%= camp.desc%> </p>
          <% let timeString = moment(camp.createdAt).fromNow(); %>
          <p>Submitted by <a href="/users/<%= camp.author.id%>">
            <strong><%= camp.author.username%></strong>
          </a>
          <span class="time-since pull-right"><%= timeString %></span></p>

          <% if (currentUser && camp.author.id.equals(currentUser._id)) { %>
            <a href="<%= camp._id%>/edit" class="btn btn-warning">Edit</a>
            <form class="inline text-right" action="?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
        <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <h4 class="pull-left"><strong>
            Comments
            <span class="glyphicon glyphicon-comment"
            aria-hidden="true"></span>
          </strong></h4>
            <a class="btn btn-success"
            role="button"
            data-toggle="collapse"
            href="#collapseComment"
            aria-expanded="false"
            aria-controls="collapseComment">
              <span class="glyphicon glyphicon-plus"
              aria-hidden="true"></span>  
              Create a comment
            </a>
          <% include ../comments/new %>
        </div>
        <hr>
        <% include ../comments/index %>
      </div>
    </div>
  </div>
</div>

<script>
  const lat = "<%= camp.lat %>"
  const lng = "<%= camp.lng %>"
  const name = "<%= camp.name %>"
</script>

<script src="/scripts/displayMap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap"></script>
<% include ../partials/footer %>

