<% include ../partials/header/meta %>
<script src="https://kit.fontawesome.com/f96d9fa558.js" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<% include ../partials/header/commonContent %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <li class="list-group-item">Average Rating</li>
        <li class="list-group-item"><div id="map"></div></li>
        <li class="list-group-item">Info3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= camp.image%>" alt="campground">
        <div class="caption-full">
          <h4 class="pull-right"> 
            <% if (camp.price == 0) { %>
              Free!
            <% } else { %>
            $<%= camp.price%>/night
            <% } %>
          </h4>
          <h4><%= camp.name%></h4>
          <p><%= camp.desc%> </p>
          <% let timeString = moment(camp.createdAt).fromNow(); %>
          <p>Submitted by <a href="/users/<%= camp.author.id%>">
            <strong><%= camp.author.username%></strong>
          </a>
          <span class="time-since pull-right"><%= timeString %></span></p>

          <% if (currentUser && camp.author.id.equals(currentUser._id)) { %>
            <a href="<%= camp._id%>/edit" class="btn btn-warning">Edit</a>
            <form class="inline text-right" action="?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
        <% } %>
        </div>
      </div>
      <div class="card card-body bg-light">
        <div class="text-right">
          <div class="comment-header">
            <h4 class="pull-left"><strong>
              Comments
              <i class="far fa-comment"></i>
            </strong></h4>
            <% let btnStyle, btnContent, commentPresent %>
            <% if (currentUser && currentUser.campsRated.includes(camp._id)) { %>
              <% btnStyle = "btn-warning"  %>
              <% btnContent = "Edit Your Comment" %>
              <% commentPresent = true %>

            <% } else {%>
              <% btnStyle = "btn-success" %>
              <% btnContent = "Create a comment" %>
              <% commentPresent = false %>
            <% } %>
            <a class="btn <%= btnStyle %>"
            role="button"
            data-toggle="collapse"
            href="#collapseComment"
            aria-expanded="false"
            aria-controls="collapseComment">
              <i class="far fa-edit"></i>
              <%= btnContent %>
            </a>
          </div>
          <% if (commentPresent) { %>
            <% include ../comments/edit %>
          <% } else { %>
            <% include ../comments/new %>
          <% } %>
        </div>
        <hr>
        <% include ../comments/index %>
      </div>
    </div>
  </div>
</div>

<script>
  const lat = "<%= camp.lat %>"
  const lng = "<%= camp.lng %>"
  const name = "<%= camp.name %>"
</script>

<script src="/scripts/displayMap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap"></script>
<% include ../partials/footer %>